@import url('https://fonts.googleapis.com/css2?family=Krona+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
}

.cabeca{
    border-radius: 2px;
}

.integrantes{
    color: #BA2325;
    text-align:center;
    font-size: 24px;
    border: 0;
    border-radius: 8px;
    padding: 30px;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    margin-left: auto;
    margin-right: auto;
    width: 6em;
    text-decoration: none;
}

.integrantes:hover{
    transform: scale(0.9);
  transition: transform 0.3s ease;
    border-radius: 8px;
}

.cabecalho{
    display:flex;
    justify-content: space-between;
}

body{
    box-sizing: border-box;
    background-color:black;
    color:white;
}

.principal{
    padding: 10% 15%;
    display:flex;
    align-items: center;
    justify-content:space-between;
}

strong{
    color: #BA2325;
}

.TituloPagina{
    font-size: 36px;
    font-family: "Krona One", sans-serif;
}

.texto{
    width: 593px;
    height: 352px;
    display: flex;
    flex-direction:column;
    gap: 40px;
}

.Irene{
    color: #F5388C;
    font-size: 24px;
    font-family: "Montserrat", sans-serif;
}

.detalhe_irene{
    font-size: 24px;
    font-family: "Montserrat", sans-serif;
}

.Seulgi{
    color: #F2E013;
    font-size: 24px;
    font-family: "Montserrat", sans-serif;
}

.detalhe_seulgi{
    font-size: 24px;
    font-family: "Montserrat", sans-serif;
}

.Wendy{
    color: #1B24F5;
    font-size: 24px;
    font-family: "Montserrat", sans-serif;
}

.detalhe_wendy{
    font-size: 24px;
    font-family: "Montserrat", sans-serif;
}

.Joy{
    color: #1BF556;
    font-size: 24px;
    font-family: "Montserrat", sans-serif;
}

.detalhe_joy{
    font-size: 24px;
    font-family: "Montserrat", sans-serif;
}

.Yeri{
    color: #CF1EFA;
    font-size: 24px;
    font-family: "Montserrat", sans-serif;
}

.detalhe_yeri{
    font-size: 24px;
    font-family: "Montserrat", sans-serif;
}

.final{
        color: #000000;
        background-color: #BA2325;
        padding: 24px;
        text-align: center;
        font-family: 'Montserrat', sans-serif;
        font-size: 24px;
        font-weight: 400;
}